.question-container {
  height: 100%;
  width: 860px;
  -webkit-backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background: #ffffff5a;
  border-radius: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  display: flex;
  overflow: hidden;
}

.buttons {
  display: flex;
}
