@import url('./utils/variables.css');

@import url('./base/reset.css');
@import url('./base/fonts.css');

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: var(--background-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
}
